<!DOCTYPE html>
<html lang="es" data-layout-decorator="layouts/default-layout">
<head>
<meta charset="UTF-8" data-th-remove="all" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" data-th-remove="all" />
<meta name="viewport" content="width=device-width, initial-scale=1"
  data-th-remove="all" />
<meta name="description"
  content="Ministerio de Sanidad, Servicios Sociales e Igualdad"
  data-th-remove="all" />
<meta name="author"
  content="Ministerio de Sanidad, Servicios Sociales e Igualdad"
  data-th-remove="all" />
<link data-th-remove="all" rel="icon" href="../../static/public/img/favicon.ico" />

<title data-th-text="#{label_edit_entity(#{label_customerorder})}">Northwind
  - Editar pedido</title>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"
  data-th-remove="all"></link>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css"
  data-th-remove="all"></link>

<!-- CSS MSSSI -->
<link rel="stylesheet" type="text/css"
  href="../../static/public/css/sanidad-internet.css" data-th-remove="all" />

<!-- Select2 -->
<link rel="stylesheet" type="text/css" data-th-href="@{/public/css/select2.css}"
  href="../../static/public/css/select2.css" />
<link rel="stylesheet" type="text/css"
  data-th-href="@{/public/css/select2-bootstrap.css}"
  href="../../static/public/css/select2-bootstrap.css" />

</head>
<body>

  <!--INICIO CONTENEDOR-->
  <div class="container bg-container">

    <!-- CABECERA -->
    <header role="banner">

      <!-- cabecera -->
      <div class="bg-header">
        <div class="organization-logo">
          <a
            title="Ministerio de Sanidad, Servicios Sociales e Igualdad - Gobierno de España"
            href="http://www.msssi.gob.es/"><img
            alt="Ministerio de Sanidad, Servicios Sociales e Igualdad - Gobierno de España"
            src="../../static/public/img/logo_ministerio.jpg" /></a>
        </div>
        <div class="application-name">
          <a href="/" data-th-href="@{/}">Aplicación Northwind</a>
        </div>
      </div>

      <!-- MENÚ PRINCIPAL -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <!-- collapsed menu button -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="sr-only">Desplegable</span> <span class="icon-bar"></span> <span
                class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Menú principal</a>
          </div>

          <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">

            <!-- menú principal -->
            <div class="row">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Menú 1 activo</a></li>
                <li><a href="#">Menú 2</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle"
                  data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Menú 3 desplegable<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Submenú 1</a></li>
                    <li><a href="#">Submenú 2</a></li>
                    <li><a href="#">Submenú 3</a></li>
                  </ul></li>
              </ul>
            </div>

            <!-- menú de usuario -->
            <div class="container upper-nav">
              <ul class="nav navbar-nav navbar-right session">
                <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Nombre
                  Apellido Apellido</li>
                <li><button type="submit" class="exit">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span><span>Salir</span>
                  </button></li>
              </ul>
              <ul class="nav navbar-nav navbar-right links">
                <li><a href="#"><span class="glyphicon glyphicon-envelope"
                    aria-hidden="true"></span><span>Contacto</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-question-sign"
                    aria-hidden="true"></span><span>Ayuda</span></a></li>
              </ul>
            </div>

          </div>

        </div>
      </nav>

    </header>
    <!-- FIN CABECERA -->

    <!--INICIO CONTENIDO-->
    <section data-layout-fragment="content">
      <div class="container-fluid content">
        <!--
         Sólo el contenido interno del tag "section" se incluirá dentro de la
         plantilla, en el apartado "content"
        -->

        <h1 data-th-text="#{label_edit_entity(#{label_customerorder})}">Editar
          Pedido</h1>

        <!-- INICIO FORMULARIO -->
        <form class="form-horizontal" method="POST"
          data-th-object="${customerOrder}"
          data-th-action="@{/customerorders/{id}(id=*{id})}">
          <input type="hidden" name="_method" value="PUT" />

          <fieldset>
            <div class="form-group">
              <label for="status" class="col-md-3 control-label"
                data-th-text="#{label_customerorder_status}">Estado</label>
              <div class="col-md-6">
                <input type="text" class="form-control" data-th-field="*{status}"
                  value="SENT" readonly="readonly" />
              </div>
            </div>

            <div class="form-group">
              <label for="employee" class="col-md-3 control-label"
                data-th-text="#{label_customerorder_employee}">Empleado</label>
              <div class="col-md-6">
                <!-- Select2 -->
                <!--  TODO Falta internalización de "data-placeholder" -->
                <select id="employee" class="dropdown-select" data-tags="true"
                  style="width: 50%" data-placeholder="Select an option"
                  data-allow-clear="true" data-id-field="employeeId"
                  data-text-fields="firstName,lastName" data-ajax--url="/employees"
                  data-ajax--cache="true" data-ajax--delay="250"
                  data-ajax--data-type="json">
                  <option data-th-unless="*{employee} == null"
                    data-th-value="*{employee.id}"
                    data-th-text="|*{employee.firstName} *{employee.lastName}|"
                    selected="selected">Employee</option>
                </select>
              </div>
            </div>

            <div class="form-group"
              data-th-classappend="${#fields.hasErrors('requiredDate')}? 'has-error has-feedback'">
              <label for="requiredDate" class="col-md-3 control-label"
                data-th-text="#{label_customerorder_requireddate}"> Fecha
                Requerido</label>
              <!-- TODO Revisar formatos de fechas -->
              <div class="col-md-3">
                <input type="text" class="form-control datetimepicker"
                  data-th-field="*{requiredDate}"
                  data-th-placeholder="#{label_customerorder_requireddate}"
                  placeholder="Fecha Requerido" data-toggle="tooltip"
                  data-th-title="#{label_requiredfield}" title="Campo obligatorio"
                  value="01/12/2016" /> <span
                  data-th-classappend="${#fields.hasErrors('requiredDate')}? 'glyphicon glyphicon-remove form-control-feedback'"
                  data-th-if="${#fields.hasErrors('requiredDate')}" aria-hidden="true"></span>
                <span id="customerOrderRequiredDate-help" class="help-block alert"
                  data-th-if="${#fields.hasErrors('requiredDate')}"
                  data-th-errors="*{requiredDate}">Mensaje de error</span>
              </div>
            </div>

            <div class="form-group"
              data-th-classappend="${#fields.hasErrors('freight')}? 'has-error has-feedback'">
              <label for="freight" class="col-md-3 control-label"
                data-th-text="#{label_customerorder_freight}">Gastos Envío</label>
              <div class="col-md-2">
                <input type="text" class="form-control" data-th-field="*{freight}"
                  data-th-placeholder="#{label_customerorder_freight}"
                  placeholder="Gastos Envío" data-toggle="tooltip"
                  data-th-title="#{label_requiredfield}" title="Campo obligatorio"
                  value="5,70" /> <span
                  data-th-classappend="${#fields.hasErrors('freight')}? 'glyphicon glyphicon-remove form-control-feedback'"
                  data-th-if="${#fields.hasErrors('freight')}" aria-hidden="true"></span>
                <span id="customerOrderFreight-help" class="help-block alert"
                  data-th-if="${#fields.hasErrors('freight')}"
                  data-th-errors="*{freight}">Mensaje de error</span>
              </div>
            </div>

            <div class="form-group"
              data-th-classappend="${#fields.hasErrors('shipName')}? 'has-error has-feedback'">
              <label for="shipName" class="col-md-3 control-label"
                data-th-text="#{label_customerorder_shipname}">Nombre Envío </label>
              <div class="col-md-6">
                <input type="text" class="form-control" data-th-field="*{shipName}"
                  data-th-placeholder="#{label_customerorder_shipname}"
                  placeholder="Nombre Envío" data-toggle="tooltip"
                  data-th-title="#{label_requiredfield}" title="Campo obligatorio"
                  value="Tranportes A" /> <span
                  data-th-classappend="${#fields.hasErrors('shipName')}? 'glyphicon glyphicon-remove form-control-feedback'"
                  data-th-if="${#fields.hasErrors('shipName')}" aria-hidden="true"></span>
                <span id="customerOrderShipName-help" class="help-block alert"
                  data-th-if="${#fields.hasErrors('shipName')}"
                  data-th-errors="*{shipName}">Mensaje de error</span>
              </div>
            </div>

            <div class="form-group"
              data-th-classappend="${#fields.hasErrors('shipAddress')}? 'has-error has-feedback'">
              <label for="shipAddress" class="col-md-3 control-label"
                data-th-text="#{label_customerorder_shipaddress}">Dirección
                Envío</label>
              <div class="col-md-6">
                <input type="text" class="form-control" data-th-field="*{shipAddress}"
                  data-th-placeholder="#{label_customerorder_shipaddress}"
                  placeholder="Dirección" data-toggle="tooltip"
                  data-th-title="#{label_requiredfield}" title="Campo obligatorio"
                  value="Avenida del Mediterráneo nº 2" /> <span
                  data-th-classappend="${#fields.hasErrors('shipAddress')}? 'glyphicon glyphicon-remove form-control-feedback'"
                  data-th-if="${#fields.hasErrors('shipAddress')}" aria-hidden="true"></span>
                <span id="customerOrderShipAddress-help" class="help-block alert"
                  data-th-if="${#fields.hasErrors('shipAddress')}"
                  data-th-errors="*{shipAddress}">Mensaje de error</span>
              </div>
            </div>

            <!-- TODO Falta País/Provincia/Población -->

            <div class="form-group"
              data-th-classappend="${#fields.hasErrors('shipPostalCode')}? 'has-error has-feedback'">
              <label for="postalCode" class="col-md-3 control-label"
                data-th-text="#{label_customerorder_shippostalcode}">Código
                Postal Envío</label>
              <div class="col-md-2">
                <input type="text" class="form-control"
                  data-th-field="*{shipPostalCode}"
                  data-th-placeholder="#{label_customerorder_shippostalcode}"
                  placeholder="Código Postal" data-toggle="tooltip"
                  data-th-title="#{label_requiredfield}" title="Campo obligatorio"
                  value="00000" /> <span
                  data-th-classappend="${#fields.hasErrors('shipPostalCode')}? 'glyphicon glyphicon-remove form-control-feedback'"
                  data-th-if="${#fields.hasErrors('shipPostalCode')}" aria-hidden="true"></span>
                <span id="customerOrderShipPostalCode-help" class="help-block alert"
                  data-th-if="${#fields.hasErrors('shipPostalCode')}"
                  data-th-errors="*{shipPostalCode}">Mensaje de error</span>
              </div>
            </div>

            <div class="form-group"
              data-th-classappend="${#fields.hasErrors('shipPhone')}? 'has-error has-feedback'">
              <label for="shipPhone" class="col-md-3 control-label"
                data-th-text="#{label_customerorder_shipphone}">Teléfono Envío</label>
              <div class="col-md-2">
                <input type="text" class="form-control" data-th-field="*{shipPhone}"
                  data-th-placeholder="#{label_customerorder_shipphone}"
                  placeholder="Teléfono" data-toggle="tooltip"
                  data-th-title="#{label_requiredfield}" title="Campo obligatorio"
                  value="000000000" /> <span
                  data-th-classappend="${#fields.hasErrors('shipPhone')}? 'glyphicon glyphicon-remove form-control-feedback'"
                  data-th-if="${#fields.hasErrors('shipPhone')}" aria-hidden="true"></span>
                <span id="customerOrderShiPhone-help" class="help-block alert"
                  data-th-if="${#fields.hasErrors('shipPhone')}"
                  data-th-errors="*{shipPhone}">Mensaje de error</span>
              </div>
            </div>
          </fieldset>

          <!-- BOTONES FORMULARIO -->
          <div class="form-group">
            <div class="col-md-12">
              <div class="pull-left">
                <!-- TODO IE8 -->
                <button type="reset" class="btn btn-default"
                  onclick="location.href='list.html'"
                  data-th-onclick="'location.href=\'' + @{/customerorders} + '\''" data-th-text="#{label_reset}">Cancelar</button>
              </div>
              <div class="pull-right">
                <input type="submit" value="Aceptar" data-th-value="#{label_submit}" class="btn btn-primary" />
              </div>
            </div>
          </div>
        </form>
        <!--  FIN FORMULARIO -->
      </div>
      <!-- FIN CONTENIDO -->
    </section>
  </div>
  <!--FIN CONTENEDOR-->

  <footer class="container">
    <p class="text-right">© Ministerio de Sanidad, Servicios Sociales e
      Igualdad</p>
  </footer>

  <!-- JavaScript
    ================================================== -->
  <!-- Ubicado al final del documento para que las páginas carguen más rápido -->
  <!-- JQuery -->
  <script type="text/javascript" charset="utf8"
    src="https://code.jquery.com/jquery-1.12.3.js"></script>

  <!-- Bootstrap -->
  <script type="text/javascript"
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>

  <div data-layout-fragment="javascript">
    <!-- Select2 -->
    <script src="../../static/public/js/select2.full.js"
      data-th-src="@{/public/js/select2.full.js}"></script>
    <script src="../../static/public/js/select2.full-es.js"
      data-th-src="@{/public/js/select2.full-es.js}"></script>
    <script src="../../static/public/js/select2-defaults.js"
      data-th-src="@{/public/js/select2-defaults.js}"></script>
  </div>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>

  <!-- Application -->
  <script src="../../static/public/js/main.js"></script>

</body>
</html>
