<!DOCTYPE html>
<html lang="es" data-layout-decorator="layouts/default-layout">
<head>
<meta charset="UTF-8" data-th-remove="all" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" data-th-remove="all" />
<meta name="viewport" content="width=device-width, initial-scale=1"
  data-th-remove="all" />
<meta name="description"
  content="Ministerio de Sanidad, Servicios Sociales e Igualdad"
  data-th-remove="all" />
<meta name="author"
  content="Ministerio de Sanidad, Servicios Sociales e Igualdad"
  data-th-remove="all" />
<link data-th-remove="all" rel="icon" href="../../static/public/img/favicon.ico" />

<title data-th-text="#{label_find_entity(#{label_customerorder})}">Northwind
  - Buscar Pedido Cliente</title>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"
  data-th-remove="all"></link>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css"
  data-th-remove="all"></link>

<!-- MSSSI CSS -->
<link rel="stylesheet" type="text/css"
  href="../../static/public/css/sanidad-internet.css" data-th-remove="all" />

</head>
<body>

  <!--INICIO CONTENEDOR-->
  <div class="container bg-container">

    <!-- CABECERA -->
    <header role="banner">

      <!-- cabecera -->
      <div class="bg-header">
        <div class="organization-logo">
          <a
            title="Ministerio de Sanidad, Servicios Sociales e Igualdad - Gobierno de España"
            href="http://www.msssi.gob.es/"><img
            alt="Ministerio de Sanidad, Servicios Sociales e Igualdad - Gobierno de España"
            src="../../static/public/img/logo_ministerio.jpg" /></a>
        </div>
        <div class="application-name">
          <a href="/" data-th-href="@{/}">Aplicación Northwind</a>
        </div>
      </div>

      <!-- MENÚ PRINCIPAL -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <!-- collapsed menu button -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="sr-only">Desplegable</span> <span class="icon-bar"></span> <span
                class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Menú principal</a>
          </div>

          <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">

            <!-- menú principal -->
            <div class="row">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Menú 1 activo</a></li>
                <li><a href="#">Menú 2</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle"
                  data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Menú 3 desplegable<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Submenú 1</a></li>
                    <li><a href="#">Submenú 2</a></li>
                    <li><a href="#">Submenú 3</a></li>
                  </ul></li>
              </ul>
            </div>

            <!-- menú de usuario -->
            <div class="container upper-nav">
              <ul class="nav navbar-nav navbar-right session">
                <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Nombre
                  Apellido Apellido</li>
                <li><button type="submit" class="exit">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span><span>Salir</span>
                  </button></li>
              </ul>
              <ul class="nav navbar-nav navbar-right links">
                <li><a href="#"><span class="glyphicon glyphicon-envelope"
                    aria-hidden="true"></span><span>Contacto</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-question-sign"
                    aria-hidden="true"></span><span>Ayuda</span></a></li>
              </ul>
            </div>

          </div>

        </div>
      </nav>

    </header>
    <!-- FIN CABECERA -->

    <!--INICIO CONTENIDO-->
    <section data-layout-fragment="content">
      <div class="container-fluid content">
        <!--
          Sólo el contenido interno del tag "section" se incluirá dentro de la
            plantilla, en el apartado "content"
          -->

        <h1 data-th-text="#{label_find_entity(#{label_customerorder})}">Buscar
          Pedido Cliente</h1>

        <div class="panel panel-default">
          <div class="panel-body">

            <!--INICIO FORMULARIO-->
            <form id="search-form" class="form-horizontal" method="POST"
              data-th-object="${customerOrderSearch}"
              data-th-action="@{/customerorders/findAll/}">

              <fieldset>
                <div class="form-group">
                  <label class="col-md-3 control-label" for="customer"
                    data-th-text="#{label_customerorder_customer}">Cliente</label>
                  <div class="col-md-6">
                    <div class="input-group">
                      <select class="form-control" id="customer"
                        data-th-field="*{customerId}">
                        <option value=""></option>
                        <option data-th-each="customer : ${customers}"
                          data-th-text="${customer.companyName}"
                          data-th-value="${customer.id}" value="1">Cliente 1</option>
                        <option value="2" data-th-remove="all">Cliente 2</option>
                        <option value="3" data-th-remove="all">Cliente 3</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label" for="employee"
                    data-th-text="#{label_customerorder_employee}">Empleado</label>
                  <div class="col-md-6">
                    <div class="input-group">
                      <select class="form-control" id="employee"
                        data-th-field="*{employeeId}">
                        <option value=""></option>
                        <option data-th-each="employee : ${employees}"
                          data-th-text="|${employee.firstName} ${employee.lastName}|"
                          data-th-value="${employee.id}" value="1">Sergio Ibarra</option>
                        <option value="2" data-th-remove="all">Manuel García</option>
                        <option value="3" data-th-remove="all">David Navarro</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label" for="status"
                    data-th-text="#{label_customerorder_status}">Estado</label>
                  <div class="col-md-6">
                    <div class="input-group">
                      <select class="form-control" id="status" data-th-field="*{statuses}"
                        multiple="multiple">
                        <option data-th-each="status : ${statuses}" data-th-text="${status}"
                          data-th-value="${status}" value="NEWLY">Nuevo</option>
                        <option value="SEND_BILL" data-th-remove="all">Facturado</option>
                        <option value="SENT" data-th-remove="all">Enviado</option>
                        <option value="CLOSED" data-th-remove="all">Cerrado</option>
                        <option value="CANCELED" data-th-remove="all">Cancelado</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label" for="orderDateStart"
                    data-th-text="#{label_customerorder_orderdate_from}">Fecha
                    Pedido Inicio</label>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input id="orderDateStart" type="date"
                        data-th-field="*{orderDateStart}" />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label" for="orderDateEnd"
                    data-th-text="#{label_customerorder_orderdate_thru}">Fecha
                    Pedido Final</label>
                  <div class="col-md-6">
                    <div class="input-group">
                      <input id="orderDateEnd" type="date" data-th-field="*{orderDateEnd}" />
                    </div>
                  </div>
                </div>
              </fieldset>

              <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                  <!-- TODO IE8 -->
                  <button type="reset" class="btn btn-default"
                    onclick="location.href='list.html'"
                    data-th-onclick="'location.href=\'' + @{/customerorders} + '\''"
                    data-th-text="#{label_reset}">Cancelar</button>
                  <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span><span
                      data-th-text="#{label_find}">Buscar</span>
                  </button>
                </div>
              </div>

            </form>

            <!--FIN FORMULARIO-->
          </div>
        </div>
        <!-- panel -->

        <!-- RESULT -->
        <div id="result"></div>

      </div>
      <!--FIN CONTENIDO-->

    </section>

  </div>
  <!--FIN CONTENEDOR-->

  <footer class="container">
    <p class="text-right">© Ministerio de Sanidad, Servicios Sociales e
      Igualdad</p>
  </footer>

  <!-- JavaScript
    ================================================== -->
  <!-- Ubicado al final del documento para que las páginas carguen más rápido -->
  <!-- JQuery -->
  <script type="text/javascript" charset="utf8"
    src="https://code.jquery.com/jquery-1.12.3.js"></script>

  <!-- Bootstrap -->
  <script type="text/javascript"
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>

  <!-- Application -->
  <script src="../../static/public/js/main.js"></script>

</body>
</html>