<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Modal</title>
  </head>
  <body>
    <!--
    Sólo el contenido interno del siguiente div se incluirá dentro de la
    plantilla, en el apartado modal
    -->
    <div data-layout-fragment="modal(id, title)">
          <div class="modal fade" data-th-id="${id} + 'Modal'" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h2 class="modal-title" data-th-id="${id} + 'ModalLabel'" data-th-text="${title}" >Borrar Cliente</h2>
                </div>
                <div class="modal-body" data-th-id="${id} + 'ModalBody'">
                   <!-- Se añade el contenido -->
                </div>
              </div>
            </div>
          </div>
    </div>
  </body>
</html>