<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Información de sesión</title>
  </head>
  <body>
    <!--
    Sólo el contenido interno del siguiente div se incluirá dentro de la
    plantilla, en el apartado session
    -->
    <div data-layout-fragment="session">

      <!-- USER MENU -->
      <ul class="nav navbar-nav navbar-right upper-nav session">
          <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="hidden-sm"> User</span></a></li>
      </ul>

    </div>

  </body>
</html>