<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Spring Boot Weblogic proof of concept"/>
    <title>Spring Boot Weblogic proof of concept</title>
  </head>
  <body>

  <div class="container bg-container">

    <section data-layout-fragment="content">
      <div class="container-fluid content">
        <section class="main">
          <h2>Welcome</h2>
            <a href="customerorders/show.html" data-th-href="@{/accounts/1111}">Show the 1111 Account</a>
        </section>
      </div>
    </section>
  </div>

  <footer class="container">
    <p class="text-right">© DISID</p>
  </footer>
  </body>
</html>
