<!DOCTYPE html>
<html data-layout-decorator="layouts/default-layout">
  <head>
    <meta charset="UTF-8" data-th-remove="all" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" data-th-remove="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1"
      data-th-remove="all" />
    <meta name="description"
      content="Ministerio de Sanidad, Servicios Sociales e Igualdad"
      data-th-remove="all" />
    <meta name="author"
      content="Ministerio de Sanidad, Servicios Sociales e Igualdad"
      data-th-remove="all" />
    <link data-th-remove="all" rel="icon" href="../static/public/img/favicon.ico" />

    <meta name="description"
      content="A next-generation rapid application development tool for Java developers. With Roo you can easily build full Java applications in minutes."
       data-th-remove="all" />
    <meta name="author"
      content="Spring Roo team"  data-th-remove="all" />

    <link rel="shortcut icon" href="../../static/public/img/favicon.ico"
       data-th-remove="all" />

    <link rel="apple-touch-icon" href="../../static/public/img/apple-touch-icon.png"
       data-th-remove="all" />

    <title>Spring Roo application</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"
      data-th-remove="all"></link>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" type="text/css"
    href="../static/public/css/font-awesome.min.css"
    data-th-remove="all" />

    <!-- CUSTOM Bootswatch CSS -->
    <link rel="stylesheet" type="text/css"
      href="../static/public/css/theme.css"
      data-th-remove="all" />

     <!-- ROO CSS -->
    <link rel="stylesheet" type="text/css"
      href="../static/public/css/springroo.css"
      data-th-remove="all" />

    <!-- HTML5 shim y Respond.js para soporte de elementos HTML5 en IE8 y media queries -->
    <!--[if lt IE 9]>
       <script src="/public/js/html5shiv.min.js"></script>
        <script src="/public/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="home">

    <!--INICIO CONTENEDOR-->
    <div class="bg-container">

      <!-- CABECERA -->
      <header role="banner">

        <!--BANNER -->
        <div class="bg-header">
          <div class="jumbotron bg-banner">
              <div class="container">
                <h1 class="project-name">Hello, we are Spring Roo!</h1>
                <h2 class="project-tagline">Get start your next awesome project</h2>
              </div>
          </div>
        </div>

        <!-- MENU PRINCIPAL -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- brand logo -->
              <div class="organization-logo navbar-brand">
                <a title="Spring Roo Application" href="http://projects.spring.io/spring-roo/">
                  <img alt="Spring Roo Application" data-th-src="@{/public/img/logo.png}" src="../static/public/img/logo.png" />
                </a>
              </div>
              <!-- name application -->
              <div class="application-name navbar-brand hidden-xs"><a href="/" data-th-href="@{/}">Spring Roo Application</a></div>

            </div><!-- navbar header -->

            <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">

              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Menú 1 activo</a></li>
                <li><a href="#">Menú 2</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menú 3 desplegable<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Submenú 1</a></li>
                    <li><a href="#">Submenú 2</a></li>
                    <li><a href="#">Submenú 3</a></li>
                  </ul>
                </li>
              </ul>

              <!-- USER MENU -->
              <ul class="nav navbar-nav navbar-right upper-nav links">
                <li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><span class="hidden-sm"> Contact</span></a></li>
                <li><a href="#"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><span class="hidden-sm"> Help</span></a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right upper-nav session">
                <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="hidden-sm"> User</span></a></li>
              </ul>

           </div>

          </div>
        </nav>

      </header>
      <!-- FIN CABECERA -->

      <!--INICIO CONTENIDO-->
      <section data-layout-fragment="content">

        <div class="container content">

          <div class="box-center">

          <!-- PROJECT INFO -->
          <div class="row">
            <div class="hidden-xs col-sm-4 col-sm-offset-1">
               <img alt="Spring Roo" data-th-src="@{/public/img/springroo-logo.png}"
              src="../static/public/img/springroo-logo.png" />
            </div>
            <div class="col-sm-6">
              <h2>With Roo you can easily build full Java applications in minutes.</h2>

              <p>Spring Roo is a next-generation rapid application development tool for Java developers.
              It focuses on higher productivity, stock-standard Java APIs, high usability, avoiding engineering trade-offs and
              facilitating easy Roo removal.
              </p>

              <p class="lead">Thanks for your interest in Spring Roo!</p>

              </div>

            </div>
          </div><!-- box-center -->

         <!-- BLOCKS -->
         <div class="row blocks">

          <!-- doc -->
          <div class="col-sm-6 col-md-3">
            <div class="block-item bgm-teal">
                <div class="clearfix">
                    <div class="doc">
                     <i class="fa fa-book"></i>
                    </div>
                    <div class="text">
                     <h2><a href="http://docs.spring.io/spring-roo/docs/current/reference/html/" title="Spring Roo reference documentation" target="_blank">Doc</a></h2>
                     <small>If you are looking for Reference Documentation you can get it here.</small>
                    </div>
                </div>
            </div>
         </div>

          <!-- project page -->
          <div class="col-sm-6 col-md-3">
              <div class="block-item bgm-red">
                  <div class="clearfix">
                      <div class="doc">
                        <i class="fa fa-envira"></i>
                      </div>
                      <div class="text">
                        <h2><a href="http://projects.spring.io/spring-roo/" title="Spring Roo project site" target="_blank">Project Page</a></h2>
                        <small>All the info about Spring Roo development.</small>
                    </div>
                </div>
            </div>
          </div>

              <!-- Support -->
              <div class="col-sm-6 col-md-3">
                  <div class="block-item bgm-amber">
                      <div class="clearfix">
                          <div class="doc">
                                <i class="fa fa-stack-overflow"></i>
                              </div>
                              <div class="text">
                                <h2><a href="http://stackoverflow.com/questions/tagged/spring-roo" title="Spring Roo Stackoverflow support" target="_blank">Support</a></h2>
                                <small>If you have any question about the project,
                                you can check it.</small>
                            </div>
                      </div>
                  </div>
              </div>

              <div class="col-sm-6 col-md-3">
                  <div class="block-item bgm-bluegray">
                      <div class="clearfix">
                         <div class="doc">
                                <i class="fa fa-code"></i>
                              </div>
                              <div class="text">
                                <h2><a href="https://github.com/spring-projects/spring-roo/" title="Spring Roo source code" target="_blank">Code</a></h2>
                                <small>Known, modify and redistribute the source code.</small>
                            </div>
                      </div>
                  </div>
              </div>

           </div><!-- blocks -->


            <!-- social -->
            <div class="row">
              <div class="col-md-12">
                <ul class="pull-right list-inline social-links">
                  <li><small>As always, you can find us also on </small></li>
                  <li>
                  <a href="http://twitter.com/springroo" class="icon-twitter" target="_blank">
                  <i class="fa fa-twitter"></i>
                  </a>
                  </li>
                  <li>
                  <a href="https://www.linkedin.com/groups/3293132" class="icon-linkedin" target="_blank">
                  <i class="fa fa-linkedin"></i>
                  </a>
                  </li>
              </ul>
             </div>
         </div>

        </div>
        <!--FIN CONTENIDO-->
      </section>
    </div>
    <!--FIN CONTENEDOR-->

    <footer class="container">
      <small class="clearfix">
          Made with <a href="http://projects.spring.io/spring-roo/" target="_blank">
          &copy; Spring Roo</a> •
          We <span class="glyphicon glyphicon-heart"></span> <a href="https://github.com/spring-projects/spring-roo/" target="_blank">Open source </a>
      </small>
    </footer>


    <!-- JavaScript
    ================================================== -->
    <!-- Ubicado al final del documento para que las páginas carguen más rápido -->
    <!-- JQuery -->
    <script type="text/javascript" charset="utf8"
      src="https://code.jquery.com/jquery-1.12.3.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript"
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/public/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Application -->
    <script src="../static/public/js/main-intranet.js"></script>

  </body>
</html>
