<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" data-th-remove="all" />

<title>
  Show</title>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"></link>

</head>
<body>

  <!--INICIO CONTENEDOR-->
  <div class="container bg-container">


    <!--INICIO CONTENIDO-->
    <section data-layout-fragment="content" data-th-object="${myEntity}">
      <div class="container-fluid content">

        <h1 data-th-text="|myEntity *{id}|">myEntity x</h1>

        <dl class="dl-horizontal">
          <dt>Calendar</dt>
          <dd data-th-text="*{{calendar}}">dd/MM/yyyy</dd>
          <dt>Date</dt>
          <dd data-th-text="*{{date}}">dd/MM/yy</dd>
          <dt>aDouble</dt>
          <dd data-th-text="*{{aDouble}}">#0.00000</dd>
        </dl>

        <div class="clearfix">
          <div class="pull-right">
            <a href="edit.html" class="btn btn-primary"
              data-th-href="@{/myEntity/{myEnityId}/edit-form(myEnityId=*{id})}">Edit</a>
          </div>
        </div>

      </div>
    </section>
    <!--FIN CONTENIDO-->

  </div>
  <!--FIN CONTENEDOR-->
  <!-- JavaScript
    ================================================== -->
  <!-- Ubicado al final del documento para que las páginas carguen más rápido -->
  <!-- JQuery -->
  <script type="text/javascript" charset="utf8"
    src="https://code.jquery.com/jquery-1.12.3.js"></script>

  <!-- Bootstrap -->
  <script type="text/javascript"
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>

</body>
</html>